<section class="container grid h-72 grid-cols-4 grid-rows-2 gap-8 md:h-96 xl:h-[28rem]">
  <div class="col-span-3 row-span-2 rounded-2xl bg-orange-100"></div>
  <div class="rounded-2xl bg-orange-100"></div>
  <div class="rounded-2xl bg-orange-100"></div>
</section>
