---
import Button from '../ui/Button/Button.astro';
---

<section class="container grid h-72 grid-cols-4 grid-rows-2 gap-8 md:h-96 xl:h-[28rem]">
  <div class=`col-span-3 row-span-2 rounded-2xl bg-indigo-100 bg-[url('/src/assets/images/squares.svg')]`>
    <div class="flex flex-col h-full p-12 items-start justify-center gap-8">
      <div>
        <h2 class="text-3xl font-bold text-indigo-900">Explore. Dream. Discover</h2>
        <p class="text-gray-900">Your Next Favorite Book Awaits at Bookstore</p>
      </div>
      <Button class="mt-8">Explore</Button>
    </div>
  </div>
  <div class="rounded-2xl bg-rose-100"></div>

  <div class="rounded-2xl bg-orange-100"></div>
</section>
