---
import Header from '../../components/Header/Header.astro';
import Footer from '../../components/Footer/Footer.astro';
import Layout from '../Layout/Layout.astro';
---

<Layout>
  <Header />
  <main>
    <slot />
  </main>
  <section class="bg-violet-200">
    <div class="container flex h-28 items-center justify-center text-2xl font-bold">Sign up for our newsletter</div>
  </section>
  <Footer />
</Layout>
